<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FootballPlayers</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FootballPlayers.styles.css" asp-append-version="true" />
</head>
<body class="content">
    <header class="header">
        <div class="header__row">
            <div class="header__item header__item_main">FootballPlayers</div>
            <a class="header__item" asp-controller="Home" asp-action="Index">Добавить</a>
            <a class="header__item" asp-controller="Players" asp-action="Index">Список</a>
        </div>
    </header>
    <main role="main" class="main">
        @RenderBody()
    </main>
    <footer class="footer">
        <div class="footer__row">
            <div class="footer__item"> &copy; 2022 - FootballPlayers </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
